<?xml version="1.0"?>
<configuration>
    <property name="LOG_PATH" value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}"/>
    <property name="PROJ_UTF-8" value="UTF-8"/>

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${PID:- } --- [%-15.15t]%-5level %-40.40logger{36} - %msg%n</pattern>
            <charset>${PROJ_UTF-8}</charset>
        </encoder>
    </appender>

    <!-- 文件日志输出 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/activiti6/%d{yyyy}/%d{MM}/activiti6_restapi.%d{yyyy-MM-dd}.log
            </FileNamePattern>
        </rollingPolicy>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${PID:- } --- [%-15.15t]%-5level %-40.40logger{36} - %msg%n</pattern>
            <charset>${PROJ_UTF-8}</charset>
        </encoder>
    </appender>

    <!-- 根日志级别 -->
    <root level="${ROOT_LOGGING_LEVEL:-INFO}">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>